/* 
Author: Eric Gullufsen
*/

:root {
	--eg-black: #19181A;
	--eg-purple: #A16E83;
	--eg-yellow: #CEBC81;
	--eg-green: #479761;
	--eg-grey: #B19F9E;
}

body {
    color: ghostwhite;
    background-color: var(--eg-black);
}

pre, code {
    background-color: #ffe4c2;
    
}

.blog-post header h1 a {
    color: var(--eg-yellow);
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
	transform: scale(1.75);
	z-index: 1;
}

nav > ul li.current {
	background: var(--eg-green);
	color: var(--eg-black);
}

nav ul li:not(.current) a {
	color: var(--eg-black);
	
}

nav ul li:not(.current) {
	background-color: var(--eg-yellow);
}

h1#branding a, h1 {
	color: ghostwhite;
	font-family: 'Bungee Shade';
	font-size: 1.75em;

}

.card {
	background-color: var(--eg-green);
	color: var(--eg-black);
}