:root {
    --eed-radius-big: 200px;
    --eed-radius-small: 100px;
}

#parentdiv {
    position: relative;
    width: var(--eed-radius-big);
    height: var(--eed-radius-big);
    /*background-color: #ac5;*/
    border-radius: var(--eed-radius-big);
    margin: var(--eed-radius-big);
  }
  
  .div2 {
    position: absolute;
    width: var(--eed-radius-small);
    height: var(--eed-radius-small);
    line-height: var(--eed-radius-small);
    border-style: solid;
    text-align: center;
    border-radius: var(--eed-radius-small);
    
  }

  .div3 {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }